pycuda
numpy<2.0
opencv-python
Pillow
kornia
loguru
thop
pyyaml
tabulate
pycocotools
tqdm
pandas
requests
matplotlib
seaborn
scipy
onnx
pytorch_lightning
einops
segmentation-models-pytorch@git+https://github.com/ragavsachdeva/segmentation_models.pytorch.git@0092ee4d6f851d89a4a401bb2dfa6187660b8dd3
supervision
pydantic
peft
